<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ChuyenBayServlet</servlet-name>
        <servlet-class>controller.TicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterControl</servlet-name>
        <servlet-class>controller.FilterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>controller.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditChuyenBay</servlet-name>
        <servlet-class>controller.ChuyenBayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongTinChuyenBayController</servlet-name>
        <servlet-class>controller.ThongTinChuyenBayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongTinHanhKhachController</servlet-name>
        <servlet-class>controller.ThongTinHanhKhachController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChuyenBayServlet</servlet-name>
        <url-pattern>/DsChuyenBay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterControl</servlet-name>
        <url-pattern>/filterControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditChuyenBay</servlet-name>
        <url-pattern>/EditChuyenBay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongTinChuyenBayController</servlet-name>
        <url-pattern>/EditThongTinChuyenBay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongTinHanhKhachController</servlet-name>
        <url-pattern>/EditThongTinHanhKhach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
